// Fredrik's shifted theme. Polar night shited towards darker colors. The others shifted towards saturation.

$nord0: #242933;
$nord1: #2E3440;
$nord2: #3B4252;
$nord3: #434C5E;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7:  #92CBCA;
$nord8:  #83C6DA;
$nord9:  #7DADDD;
$nord10: #5686C2;
$nord11: #D05F6A;
$nord12: #ED9073;
$nord13: #F5CF82;
$nord14: #A1C780;
$nord15: #BB84B1;